@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@800&display=swap');

.sideBarContainer {
    width: 250px;
    height: 100%;
    background-color: #eeeeee;
    color: black;
    position: fixed;
    left: -250px;
    top: 0;
    transition: all 0.3s ease;
    z-index: 2;
}

.sideBarContainer.show {
    left: 0;
}
img{
    margin-top: 5px;
    margin-left: 5px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;
}

.SideBarItems {
    padding: 20px;
}

.SideBarItems p {
    margin: 10px 0;
    cursor: pointer;
    transition: color 0.3s ease;
}

.SideBarItems p:hover {
    color: #ffcc00;
}

.toggleButton {
    position: fixed;
    left: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 3;
}


@media (max-width: 768px) {
    .sideBarContainer {
        width: 100%;
        left: -100%;
    }

    .sideBarContainer.show {
        left: 0;
    }

    .toggleButton {
        display: block;
    }

    .SideBarItems {
        text-align: center;
    }
}
